<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="container">
        <main>
            <h1>Travel Log</h1>

            <section class="destination">
                <form class="user-form" novalidate="novalidate">
                    <label for="city">Enter Destination</label>
                    <input type="text" id="city" class="city" placeholder="Enter City" required>
                    </br>

                    <label for="date">From: </label>
                    <input type="date" name="date" id="departure-date" min="2021-09-01" required>
                    </br>
                    <label for="date">To: </label>
                    <input type="date" name="date" id="arrival-date" min="2021-09-01" required>
                    </br>
                    <h3 id="msg"></h3>
                    </br>
                    <button class="form-submit" type="submit">Submit</button>
                </form>
            </section>

            <section class="results">
                <h2>Destination Details</h2>
                <p id="destination-city"></p>
                <p id="trip-dates"></p>
                <p id="forecast"></p>
            </section>

            <section>
                <figure>
                    <img id="chicagoView" alt="High view of the Chicago skyline">
                    <figcaption>Chicago Skyline</figcaption>
                </figure>
            </section>
        </main>
    </div>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>